
<div class="clear"></div>
<!--Botones que me dirigen ala pagina segun la url  crearAutorComponent-->
<!--
<button type="button" [routerLink]="[ '/AutorComponent']" class="btn btn-primary" style="margin-right: 10px">Autores</button>
<button type="button" [routerLink]="[ '/CrearAutorComponent']"class="btn btn-success" style="margin-right: 10px">Agregar Autores</button>
<button type="button" [routerLink]="[ '/CrearLoginComponent']"class="btn btn-success" style="margin-right: 10px">Registro Usuario</button>
<button type="button" [routerLink]="[ '/LoginComponent']"class="btn btn-primary">Login</button>
-->
<router-outlet></router-outlet>



